* {
	font-family: 'Helvetica Neueu', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

@font-face {
	font-family: "Lato-Regular";
	src: url('polices/Lato-Regular.ttf');
}

html {
	width: 100%;
	height: 100%;
}

body {
	color: black;
	display: block;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: auto !important;
	width: 100%;
	background-color: #232830;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
  /* This is the magic bit for WebKit */
  display: none;
}

a:hover, a:focus {
	color: inherit;
}

@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}

#swal2-content {
	font-size: 15px;
}

.swal2-actions {
	font-size: 15px;
}

iframe.fullscreen {
	height: 100%;
	width: 100%;
	border: 0;
}

.bigavatar {
    transform: translatey(0px);
    display: block;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
    width: 100px;
	animation: fadeIn 2s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

.botimgs {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.undertitle {
	animation: fadeIn 2s;
}

.botimgs figure a {
	text-decoration: none;
}

.figcaplucy {
	color:rgb(255, 1, 91);
	font-size: 25px;
}

.figcapmoo {
	color: #7289da;
	font-size: 25px;
}

.figcapradio {
	color:rgb(227, 115, 94);
	font-size: 25px;
}

.figcapmiu {
	color:rgb(98, 1, 255);
	font-size: 25px;
}

.figcapdailycat {
	color:rgb(247, 245, 245);
	font-size: 25px;
}

.figcapsoothe {
	color:rgb(255, 170, 51);
	font-size: 25px;
}

.botlucy, .botmoo, .botradio, .botmiu, .botdailycat, .botsoothe {
	height: 200px !important;
	border-radius: 50%;
}

.botimgs figure {
	height: 250px;
}

.toptext h1 {
	color: #1972F5;
	font: 700 48px Times New Roman, Times, serif;
	font-size: 50px;
}

.toptext h3 {
	color: white;
}

footer {
	bottom: 0;
  position: relative;
  background: rgba(255, 255, 255, .05);
  width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 100%;
}

.swal2-styled.swal2-confirm {
	background-color: #195FF5;
}


@media screen and (max-width: 750px) {
	.maintext {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

@media screen and (max-width: 500px) {
	.botlucy, .botmoo, .botradio, .botmiu, .botdailycat, .botsoothe {
		height: 150px !important;
	}
}

.ditable {
	display: table;
}

.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 3px solid rgb(7, 189, 245);
	display: inline-block;
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: typewriter 1s steps(6) .5s 1 normal both, blinkTextCursor 500ms steps(36) infinite normal;
  }

  @keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgb(7, 189, 245);
	}
	to {
		border-right-color: transparent;
	}
}

@media screen and (max-height: 800px) , screen and (max-width: 750px) {
	.toptext h1 {
		font-size: 40px;
	}

	.icon a i {
		font-size: 20px;
		padding: 7px;
	}
}

@media screen and (max-width: 750px) {
	.wb_button {
		width: 100px !important;
	}

	.toptext h3 span {
		font-size: 25px;
	}
}

@media screen and (max-width: 900px) {
	.top {
		padding: 20px !important;
	}
}

.buttons {
	margin-top: 10px;
}

.pink {
	color: #1972F5;
}

.blue {
	color: #1972F5;
}

footer span {
	color: white;
	padding: 5px;
}

.player:hover {
	opacity: 1 !important;
}

.player {
	position: absolute;
	top: 0px;
	right: 50px;
	z-index: 1;
	opacity: 1;
	transition: opacity 1s ease;
}

.player a {
	display: flex;
}

.player a i {
	align-self: center;
}

.wb_button {
    display: block;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    width: 198px;
    height: 42px;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    text-align: center;
    border: 2px solid #195FF5;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #1972F5 none repeat left top;
    color: black;
    text-decoration: none;
    font-weight: bold;
		transition: 0.3s;
}

.wb_button:hover {
    background-color: white;
}

.wb_button span {
    display: inline-block;
    vertical-align: middle;
    line-height: 300%;
}

.toptext {
	text-align: center;
}

.topbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbuttons div {
	padding: 5px;
}

.hideInterface:active {
	box-shadow: none;
}

.stats img {
  display: block;
  margin: auto;
  width: 300px;
  margin: -40px auto -30px auto;
  overflow: hidden;
}

.stats {
  overflow: hidden;
}

.haut {
  margin: 300px;
  color: black;
  padding: 10px;
}

.nopointers {
	pointer-events: none;
}

.initialpointers {
	pointer-events: initial;
}

.top {
	padding: 30px;
}

.block {
	display: block;
}

.icon {
	padding: 20px;
}

a {
	color: white;
	font-weight: bold !important;
}

.icon a i {
	color: white;
	font-size: 30px;
	padding: 10px;
	background-color: #232830;
	transition: 0.3s;
	border-radius: 5px;
}

.icon a i:hover {
	cursor: pointer;
}

.github a i:hover {
	background-color: black;
}

.patreon a i:hover {
	background-color: rgb(249, 104, 84);
}

.bmc a i:hover {
	background-color: #195FF5;
}

.instagram a i:hover {
	background-color: #7289da;
}

.docs a i:hover {
	background-color: #83e711;
}

.links {
	display: flex;
}

.stats {
	margin: 10px;
}

.mainblock {
	margin-top: 5%;
}

#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
	opacity: 0.1;
	top: 0;
	left: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

.github-corner {
	cursor: pointer;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
